
<md-button ng-click="onExportWidgetsBundle({event: $event})"
           ng-show="!isEdit"
           class="md-raised md-primary">{{ 'widgets-bundle.export' | translate }}</md-button>
<md-button ng-click="onDeleteWidgetsBundle({event: $event})"
           ng-show="!isEdit && !isReadOnly"
           class="md-raised md-primary">{{ 'widgets-bundle.delete' | translate }}</md-button>

<md-content class="md-padding" layout="column">
    <fieldset ng-disabled="$root.loading || !isEdit">
        <md-input-container class="md-block">
            <label translate>widgets-bundle.title</label>
            <input required name="title" ng-model="widgetsBundle.title">
            <div ng-messages="theForm.title.$error">
                <div translate ng-message="required">widgets-bundle.title-required</div>
            </div>
        </md-input-container>
    </fieldset>
</md-content>
